@import url("laptop_style.css"); 

@media screen and (min-width: 1025px) {
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/background.jpg");
}

a {
  color: #00B7FF;
}

.main-page, .new-house, .submit-advertisement {
	border-radius: 10px;
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.styled-nav {
	border-radius: 15px;
	background-color: #2980b9;
	border: 1px solid #3498db;
	/*box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);*/
}

.navbar-default {
	border: 0px;
	color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus  {
	background-color: #3498db;
	color: white;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: white;
	background-color: #3498db;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-brand {
	font-family: 'Fira Sans', sans-serif;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand {
	color: white;
}

.mp-images {
	width: 100%;
}

.search-eng-rent, .sa-margin {
	margin-top: 30px;
}

.se-text-centered {
	line-height: 2.2em;
}

.button-floated-right {
	float: right;
	margin-top: 25px;
	margin-bottom: 25px;
}

.bordered-bottom {
	box-sizing: border-box;
	padding-bottom: 30px;
	border-bottom: 1px solid #FDE3A7;
}

.attention-text {
	text-align: center;
	font-size: larger;
	color: #F4B350;
	font-weight: 700;
	line-height: 2.3em;
	font-family: 'Fira Sans', sans-serif;
}

.help-f-m {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.hfm-phone-input {
	text-align: center;
}

.rslides img {
	margin-bottom: 40px;
}

#rslides {
	z-index: 0;
}

.auth-enter {
	margin-top: 15px;
	margin-bottom: 15px;
	float: right;
}

.auth-phone {
	margin-top: 15px;
}

.auth-info {
	margin-top: 10px;
	text-align: center;
	color: #2980b9;
	font-family: 'Fira Sans', sans-serif;
}

.adv-alert {
	margin-top: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #EC971F;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #FCFFFF;
}


.pop-up {
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	z-index: 1;
}

.first-form {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 70%;
	height: 80%;
	margin-left: 15%;
	margin-top: 5%;
	background: white;
	border-radius: 10px;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.41);
}

.first-form h1 {
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
}

.first-form h1 .logo-popup {
	color: #2d85bc;
}

.aligned-cent {
	text-align: center;
}

.choose-select, .choose-label {
	width: 50%;
}

.choose-label {
	margin-top: 2%;
	margin-left: 25%;
}

.choose-select, .popup-info {
	margin-top: 1%;
}

.fl-block {
	position: absolute;
	bottom: 30px;
	width: 30%;
	height: 50px;
	margin-left: 35%;
	margin-right: 35%;
	float: right;
	display: block;
}