<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin panel | Get data</title>
	<link rel="stylesheet" href="stylesheets/adm-pan-style.css">
</head>
<body>
	<header class="adm-p-header">
		<span class="adm-p-logo">Панель адміністратора | Отримання даних</span>
	</header>
	<section class="get-data">
		<header>
			<h3>Отримати дані по обраній локації</h3>
		</header>
		<form>
			<select id="choose-country"></select>
			<select id="choose-city"></select>
			<input type="button" value="Отримати" id="get-links-from-file">
		</form>
	</section>
	<section id="hidden-work"></section>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/FileSaver.js"></script>
	<script src="/javascripts/controller/uploadCountry.js"></script>
	<script src="/javascripts/db/get-data.js"></script>
</body>
</html>