<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin panel | Get data</title>
	<link rel="stylesheet" href="stylesheets/adm-pan-style.css">
</head>
<body>
	<header class="adm-p-header">
		<span class="adm-p-logo">Панель адміністратора | Отримання даних</span>
	</header>
	<section class="get-data">
		<form action="">
			<label for="get-country">Вкажіть країну</label>
			<input type="text" id="get-country">
		</form>
	</section>
</body>
</html>